* {
	font-family: Verdana;
	/*
	font-size: 11pt;
	margin: 0px;
	*/
	padding: 0px;
}

body, html {
	/*overflow: hidden;*/
	height: 100%;
}
body {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	
	background-color: #dbf7ff;
}

#all_wrap {
	min-height: 95%;
	/*margin: 0px auto -35px auto;*/
	/*margin-bottom: -60px;*/
	
}
.all_wrap:after {
	content: "";
	display: block;
}
#footer, #all_wrap:after { height: 60px; }

.txt-input {
	border: 1px solid #555555;
}

div {
	/*display: block;*/
}

#top_menu {
	position: fixed;
	z-index: 10000;
	font-size: 0px;
	top: 0px;
	left: 0px;
	cursor: default;
	/*
	padding: 7px 0px;
	margin: 5px;
	float: right;
	*/
	text-align: right;
	width: 100%;
	background-color: #0269c1;
	/*border-radius: 5px;*/
}
#top_menu * { font-size: 11pt; }

#top_menu > a {
	display: inline-block;
	cursor: pointer;
	padding: 8px 12px;
	
	margin: 0px 0px 0px 0px;
	color: #bfcbef;
	
	background: rgb(14,14,112);
	background: linear-gradient(0deg, rgba(14,14,112,1) 20%, rgba(44,107,218,1) 87%);
}
#top_menu > a:HOVER {
	background: rgb(14,14,54);
	background: linear-gradient(0deg, rgba(14,14,54,1) 20%, rgba(23,70,154,1) 87%);
}

#top_menu > a.separator {
	cursor: default;
	min-width: 20px;
}

#top_menu .menu-item-selected {
	color: #ebeb81;
}

#top_menu #find_wrap {
	/*text-align: left;*/
	
}
#top_menu #wrap_txt_btn_find {
	margin: 0px 5px 0px -53px;
	text-align: right;
}
#top_menu #txt_find {
	border-radius: 5px;
	border-width: 0px;
	height: 24px;
	padding: 0px 10px;
	margin: 0px 10px;
	font-size: 11pt;
	outline: none;
}
#top_menu #btn_find_advanced {
	display: inline-block;
	background: 0px 0px no-repeat url(/assets/img/Dots_Horizontal_Square_light.svg);
	width: 24px;
	height: 24px;
	margin: 0px 0px -6px -5px;
	cursor: pointer;
}
#top_menu #wrap_txt_btn_find svg path{
  fill: #888;
}
#top_menu #btn_find_clear {
	display: inline-block;
	background: 0px 0px no-repeat url(/assets/img/Multiply_Square_light.svg);
	width: 24px;
	height: 24px;
	margin: 0px 3px -6px -5px;
	cursor: pointer;
}
#top_menu #btn_find {
	display: inline-block;
	background: 0px 0px no-repeat url(/assets/img/Search_Square.svg);
	width: 24px;
	height: 24px;
	margin: 0px 8px -6px -5px;
	cursor: pointer;
}

#top_part {
	position: relative;
	display: inline-block;
	background: 0px 0px no-repeat url(/assets/img/blue_01.jpg);
	background-position: bottom;
	background-size: 100% auto;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 180px;
}
#top_part #title {
	/*margin: 100px 0px 0px 5%;*/
	color: #192839;
	/*text-shadow: 1px 0px 0px #fdfdfd;*/
	text-shadow: 1px 1px 0 #fdfdfd, -1px 1px 0 #fdfdfd, -1px -1px 0 #fdfdfd, 1px -1px 0 #fdfdfd;
	position: absolute;
	bottom: 3px;
	left: 5%;
}

a {
	text-decoration: none;
	color: #555555;
}
a:HOVER {
	text-decoration: underline;
	color: #333333;
}
/*#top_menu > span:HOVER {
	text-decoration: underline;
}*/


#left_menu {
	padding: 5px;
	margin: 5px;
	background-color: #f9c191;
	float: right;
	border-radius: 5px;
}

#left_menu > div {
	cursor: pointer;
}

.list-wrap {  }

.movie-item, .person-info > div { margin: 0px auto; padding: 10px 10px 20px 10px; width: 90%; max-width: 550px;
	/*cursor: default;*/ border-bottom: 1px dotted #99c1c5; }


.movie-btn-info { display: none; margin: 0px 0px 0px 2px; cursor: pointer; width: 18px; height: 18px; background-image: url(/assets/img/Information_Square.svg);
	background-repeat: no-repeat; background-size: 18px 18px; vertical-align: bottom; }
.movie-item:HOVER { background-color: #b8e3f7; }
.movie-item:HOVER .movie-btn-info { display: inline-block; }
.movie-title { display: block; margin: 0px 0px 5px 0px; font-weight: bold; font-size: 12pt; }
.movie-genres { display: inline-block; max-width: 70%; font-style: italic; font-size: 10pt; }
.movie-date-rating { margin: 3px 0px 0px 0px; font-size: 10pt; float: right; }
.movie-rating { background-image: url(/assets/img/Star.svg); background-repeat: no-repeat; padding: 0px 8px 5px 20px; background-size: 16px; }
.movie-jobs { margin: 10px 0px 20px 0px; }
.movie-jobs div { margin: 5px 0px 5px 0px; }

.movie-info > div { margin: 0px auto; padding: 15px 0px; width: 90%; max-width: 700px; border-bottom: 1px solid #99c1c5; }
.movie-info-tagline { font-style: italic; font-size: 11pt; }
#movie_overview > div { margin: 5px 0px 20px 0px; }
.movie-info-date , .movie-info-rating { display: inline-block; margin: 15px 0px 0px 0px; font-size: 10pt; }
.movie-info-date {  }
.movie-info-rating { float: right; background-image: url(/assets/img/Star.svg); background-repeat: no-repeat; padding: 5px 0px 5px 30px; }
.movie-info-cast { /*display: inline-block;*/ }
.movie-info-cast > a { display: block; white-space: nowrap; margin: 5px 7px 5px 0px; font-size: 11pt; }
.movie-info-language {  }
.movie-info-duration { float: right; }
.movie-info-url {  }
.movie-info-budget, .movie-info-revenue { width: 200px; }
.movie-info-budget > span, .movie-info-revenue > span { float: right; width: 100px; }
/*
.movie-info-cast > span:nth-child(odd) { background-color: #4D4D4D; }
.movie-info-cast > span:nth-child(even) { background-color: #CCC; }
*/
.movie-info-crew { font-size: 11pt; }
.movie-info-crew > div { margin: 15px 0px 5px 0px; }

.tag-item { display: inline-block; padding: 1px 5px; margin: 5px 5px 0px 0px; cursor: pointer;
	border: 1px solid #5b656d; border-radius: 7px; font-size: 15px; text-transform: lowercase;  }
.tag-item:HOVER { background-color: #4342; }
.tag-item.selected { background-color: #7bb5e3; }
.marked-tag { font-weight: bold; }

.tab-wrap { font-size: 0px; border-bottom: 0px !important; }
.tab-wrap > span {
	cursor: pointer;
	padding: 5px 5%;
	font-weight: bold;
	font-size: 11pt;
	/*border: 1px solid #203d91;*/
	margin: 0px 0px 0px 0px;
	/*background-color: #7db7ff;*/
	color: #8b9195;
}
.tab-wrap > span:HOVER { /*text-decoration: underline;*/ color: #266081; }
.tab-wrap > span.selected { /*background-color: #82d1ff;*/ border-bottom: 2px solid #266081; color: #266081; /*#82d1ff;*/ /*#008cff;*/ }

.window { position: fixed; background: #d1f6ff; border: 1px solid #5b708f; border-radius: 6px;
	width: 50%; height: 50%; z-index: 1000; left: 25%; top: 15%; }
.window * { font-size: 10pt; }
.window-titlebar { display: block; cursor: move; background: #193a89; color: #bfdffb; height: 24px; overflow: hidden; border-radius: 5px 5px 0px 0px; }
.window-title { display: inline; cursor: move; vertical-align: sub; font-weight: bold; padding: 0px 10px; }
.window-btn-close { display: inline; float: right; width: 36px; height: 24px; cursor: pointer; text-align: center; line-height: 20px; }
.window-btn-close:HOVER { background-color: #77a7c1; color: #274463; }
.window-content { display: block; padding: 10px; /*background: #fff;*/ }
.window-modal-backbround { display: none; position: fixed; width: 100%; height: 100%; padding: 0px; margin: 0px; background-color: #9bc2d1ad; top: 0px; left: 0px; z-index: 990; }


.pagination {
	margin: 30px auto 15px auto;
	text-align: center;
}
.pagination a {
	
}
.pagination a.current {
	background-color: #87bce9;
}
.pagination a:HOVER {
	background-color: #459ce7;
	text-decoration: none;
}
.pagination  a > span {
	margin: 5px;
	padding: 3px 10px;
}


