* {
	font-family: Verdana;
	/*
	font-size: 11pt;
	margin: 0px;
	*/
	padding: 0px;
/*	color: rgb(var(--fg));*/
/*	background-color: rgb(var(--fg));*/
}

body, html {
	/*overflow: hidden;*/
	height: 100%;
}
body {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	
	/*   https://www.freepik.com/free-vector/abstract-geometric-wireframe-background_13295527.htm   */
/*	background-image: url(/assets/img/backgr2.jpg);*/
	background-image: var(--background);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*.color-light  { --bg: #ffffff; --fg: #333333; --primary: #d1d1d1; }
.color-dark   { --bg: #000000; --fg: #dddddd; --primary: #4c5255; }
.color-blue   { --bg: #4acafd; --fg: #12387f; --primary: #a4e6ff; }
.color-purple { --bg: #591661; --fg: #42d3c9; --primary: #123049; }
.color-yellow { --bg: #222222; --fg: #e5ca61; --primary: #533d0c; }*/

.color-light  {
	--bg: 255, 255, 255;	--fg: 51, 51, 51;		--primary: 209, 209, 209;
	--background: url(/assets/img/background/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
	--background-top: url(/assets/img/blue_01.jpg);
}
.color-dark   {
	--bg: 0, 0, 0;			--fg: 221, 221, 221;	--primary: 76, 82, 85;
	--background: url(/assets/img/background/black-cubes-background-abstract.jpg);
	--background-top: url(/assets/img/blue_01.jpg);
}
.color-blue   {
	--bg: 74, 202, 253;		--fg: 18, 56, 127;		--primary: 164, 230, 255;
	--background: url(/assets/img/backgr2.jpg);
	--background-top: url(/assets/img/blue_01.jpg);
}
.color-purple {
	--bg: 89, 22, 97;		--fg: 66, 211, 201;		--primary: 18, 48, 73;
	--background: url(/assets/img/background/1261224_9882.jpg);
	--background-top: url(/assets/img/blue_01.jpg);
}
.color-yellow {
	--bg: 34, 34, 34;		--fg: 229, 202, 97;		--primary: 83, 61, 12;
	--background: url(/assets/img/background/10035371_17975525.jpg);
	--background-top: url(/assets/img/background/flower_orange.jpg);
}

/*.color-blue   { --test1: 2, 105, 193; --test2: rgb(2, 105, 193); --test3: 2 105 193; }*/

#top_right {
	position: fixed;
	right: 5px;
	z-index: 10050;
	thingy: 0.55;
}
#color_scheme {
/*	width: 10%; min-width: 200px;*/
	font-size: 0px;
	background-color: #000;
}
#color_scheme > span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	height: 15px;
	width: 15px;
	padding: 0px;
	margin: 1px;
	border: 1px solid #555;
}
#color_scheme > span.selected {
	border: 3px solid #ddd;
}
#color_scheme #light { background-color: #ffffff; }
#color_scheme #dark { background-color: #000000; }
#color_scheme #blue { background-color: #4acafd; }
#color_scheme #purple { background-color: #591661; }
#color_scheme #yellow { background-color: #f5dc2b; }

@media screen and (max-width: 768px) {
	#color_scheme {
		width: 14px;
		/* height: 100px; */
		display: block;
		margin-top: 20px !important;
		background-color: #0000;
	}
}

#all_wrap {
	min-height: 95%;
	/*margin: 0px auto -35px auto;*/
	/*margin-bottom: -60px;*/
	
}
.all_wrap:after {
	content: "";
	display: block;
}
#footer, #all_wrap:after { height: 60px; }

.txt-input {
	border: 1px solid #555555;
}

div {
	/*display: block;*/
}

.btn {
	cursor: pointer;
	margin: 5px 5px 5px 5px;
	padding: 3px 10px 3px 10px;
	background-color: #658fb9;
	color: #fff;
	border-radius: 3px;
}
.btn:HOVER { background-color: #7db9f5; }

#top_part {
	position: relative;
	display: inline-block;
	background: 0px 0px no-repeat var(--background-top);
	background-position: bottom;
	background-size: 100% auto;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 180px;
}
#top_part #title {
	color: #192839;
	text-shadow: 1px 1px 0 #fdfdfd, -1px 1px 0 #fdfdfd, -1px -1px 0 #fdfdfd, 1px -1px 0 #fdfdfd;
	
	margin: 65px auto 0px auto;
	padding: 0px;
	width: 90%;
	max-width: 550px;
}

a {
	text-decoration: none;
	color: #555555;
}
a:HOVER {
	text-decoration: underline;
	color: #333333;
}
/*#top_menu > span:HOVER {
	text-decoration: underline;
}*/


#left_menu {
	padding: 5px;
	margin: 5px;
	background-color: #f9c191;
	float: right;
	border-radius: 5px;
}

#left_menu > div {
	cursor: pointer;
}

.list-wrap {  }

.genres-wrap a { margin: 5px 5px 0px 0px; display: inline-block; }
.genres-wrap,
.movie-item, .person-info > div { margin: 0px auto; padding: 10px 10px 20px 10px; width: 90%; max-width: 550px;
	/*cursor: default;*/ border-bottom: 1px dotted #99c1c5; }
.genre-random-movies-wrap { margin: 0px 0px 10px 0px; }
.genre-random-movies-wrap > span { margin: 0px 5px 0px 0px; font-size: 12px; }
.person-item-begin { margin: 0px auto; padding: 20px 5px 5px 5px; width: 90%; max-width: 550px; font-size: 18pt; font-weight: bold;  }

.movie-btn-hover { display: none; margin: 0px 0px 0px 2px; cursor: pointer; width: 18px; height: 18px;
	background-repeat: no-repeat; background-size: 18px 18px; vertical-align: bottom; }
.movie-btn-info { background-image: url(/assets/img/Information_Square.svg); }
.movie-btn-google { background-image: url(/assets/img/Google.svg); }
.movie-item:HOVER { background-color: #87d0dfb0; }
.movie-item:HOVER .movie-btn-hover { display: inline-block; }
.movie-title { display: block; margin: 0px 0px 5px 0px; font-weight: bold; font-size: 12pt; }
.movie-genres { display: inline-block; max-width: 70%; font-style: italic; font-size: 10pt; }
.movie-date-rating { margin: 3px 0px 0px 0px; font-size: 10pt; float: right; }
.movie-rating { background-image: url(/assets/img/Star.svg); background-repeat: no-repeat; padding: 0px 8px 5px 20px; background-size: 16px; }
.movie-jobs, .movie-actor-cast { margin: 10px 0px 20px 0px; }
.movie-jobs div, .movie-actor-cast div { margin: 5px 0px 5px 0px; }

.movie-info > div { margin: 0px auto; padding: 15px 0px; width: 90%; max-width: 700px; border-bottom: 1px solid #99c1c5; }
.movie-info-tagline { font-style: italic; font-size: 11pt; }
#movie_overview > div { margin: 5px 0px 20px 0px; }
.movie-info-date , .movie-info-rating { display: inline-block; margin: 15px 0px 0px 0px; font-size: 10pt; }
.movie-info-date {  }
.movie-info-rating { float: right; background-image: url(/assets/img/Star.svg); background-repeat: no-repeat; padding: 5px 0px 5px 30px; }
.movie-info-cast { /*display: inline-block;*/ }
.movie-info-cast > a { display: block; white-space: nowrap; margin: 5px 7px 5px 0px; font-size: 11pt; }
.movie-info-language { display: inline-block; max-width: 75%; }
.movie-info-country-img { display: inline-block; width: 50px; height: 12px; 
	background-repeat: no-repeat; margin: 0px 18px 0px 0px; text-align: right; line-height: 12px; }
.movie-info-country-img:last-child { margin: 0px; }
.movie-info-duration { float: right; }
.movie-info-url {  }
.movie-info-budget, .movie-info-revenue { width: 300px; }
.movie-info-budget > span, .movie-info-revenue > span { float: right; width: 200px; }
.movie-info-budget-bar, .movie-info-revenue-bar { margin: 0px 0px 12px 0px; height: 3px; display: inline-block; }
.movie-info-budget-bar { background: #dd3333; width: 0px; }
.movie-info-revenue-bar { background: #33dd33; width: 0px; }
/*
.movie-info-cast > span:nth-child(odd) { background-color: #4D4D4D; }
.movie-info-cast > span:nth-child(even) { background-color: #CCC; }
*/
.movie-info-crew { font-size: 11pt; }
.movie-info-crew > div { margin: 15px 0px 5px 0px; }
.movie-info-keywords > div { text-align: center; margin: 20px 20px; font-size: 11pt; }
.movie-info-keywords span { white-space: nowrap; }

.profit { font-weight: bold; }
/*.profit-hidden { display: none; }*/
.profit-equal { color: #deeb11; }
.profit-up { color: #2b8f2b; }
.profit-down { color: #dd3333; }
#company_profit_graph { display: flex; align-items: flex-end; overflow-x: auto; overflow-y: hidden; padding: 0px 0px 20px 0px; }
.profit-bar {
	display: inline-block;
/*	vertical-align: bottom;*/
	min-width: 5px;
/*	max-width: 24px;*/
	border: 1px solid #555;
	color: #bbb;
}
.profit-bar-budget { background-color: #dd3333; margin: 0px -3px 0px 5px; z-index: 5; }
.profit-bar-revenue { background-color: #2b8f2b; }
.profit-bar-space { height: 97%; /*width: 15px;*/ min-width: 15px; border: 0px; }
.bar-text {
	font-size: 10px;
	border-radius: 3px;
	background-color: #333a;
	color: #ccc;
	display: inline-block;
	padding: 2px 5px;
	text-align: center;
/*	margin: -5px 0px 0px 0px;*/
}

.tag-item { display: inline-block; padding: 1px 5px; margin: 5px 5px 0px 0px; cursor: pointer;
	border: 1px solid #5b656d; border-radius: 7px; font-size: 15px; text-transform: lowercase;  }
.tag-item:HOVER { background-color: #4342; }
.tag-item.selected { background-color: #7bb5e3; }
.marked-tag { font-weight: bold; }

.tab-wrap {
	font-size: 0px;
	border-bottom: 0px !important;
	position: sticky;
	top: 30px;
	background-color: #cdf8fedd;
}
.tab-wrap > span {
	cursor: pointer;
	padding: 5px 5%;
	font-weight: bold;
	font-size: 11pt;
	/*border: 1px solid #203d91;*/
	margin: 0px 0px 0px 0px;
	/*background-color: #7db7ff;*/
	color: #8b9195;
}
.tab-wrap > span:HOVER { /*text-decoration: underline;*/ color: #266081; }
.tab-wrap > span.selected { /*background-color: #82d1ff;*/ border-bottom: 2px solid #266081; color: #266081; /*#82d1ff;*/ /*#008cff;*/ }

.pagination {
	margin: 30px auto 15px auto;
	text-align: center;
}
.pagination a {
	
}
.pagination a.current {
	background-color: #87bce9;
}
.pagination a:HOVER {
	background-color: #459ce7;
	text-decoration: none;
}
.pagination  a > span {
	margin: 5px;
	padding: 3px 10px;
}


